<section class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>Forgot password?</header>
      <form [formGroup]="forgotPasswordForm">

        <div>
          <i>Enter your email and we will send you email with link to reset your password.</i>
        </div>

        <app-custom-form-input-text [type]="'email'"
                                    [placeholderValue]="'Email'"
                                    formControlName="email"></app-custom-form-input-text>

        <ng-template [ngIf]="forgotPasswordForm.get('email')?.errors">
          <app-error-form-notification [formControlInput]="forgotPasswordForm.get('email')"
                                       [inputLabel]="'Email'"></app-error-form-notification>
        </ng-template>


        <ng-template [ngIf]="forgotPasswordForm.valid">
          <app-custom-button (clickTrigger)="forgotPassword($event)"
                             [name]="'Reset Password'"
                             [btnType]="'form-btn'"
                             routerLink="/auth/sign-in"></app-custom-button>

        </ng-template>
        <ng-template [ngIf]="!forgotPasswordForm.valid">
          <app-custom-button (clickTrigger)="invalid($event)"
                             [name]="'Reset Password'"
                             [btnType]="'disabled-btn'"></app-custom-button>
        </ng-template>

      </form>

    </div>

  </div>
</section>
