<form action="#" [formGroup]="sendMessageForm">
  <div class="message-panel">
 <!--   <div class="emojis-btn"><lucide-icon [img]="smilePlus" class="svg"></lucide-icon></div>
-->
    <app-custom-form-input-text class="input-container" [type]="'message-input'"
                                [placeholderValue]="'Enter message...'"
                                formControlName="message"></app-custom-form-input-text>

    <app-custom-button (clickTrigger)="sendMessage($event)"
                       [name]="'Send'"
                       [btnType]="'send-message-btn'"></app-custom-button>
  </div>
</form>


