
/*  message panel */

.message-panel{
  height: 2.5em;
  margin-top: 0.5em;
  border-radius: 0.6em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.2em;
}

.emojis-btn{
  width: 3em;
}

.input-message{
  width: 98%;
  border: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 1.2em;
  opacity:0.94;
  padding-left: 1em;
  padding-right: 1em;
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background-color: rgb(250, 246, 246);
}

.input-message:focus{
  opacity:1;
  border: none;
  outline: none;
  -webkit-transform: scale(1.008);
  -ms-transform: scale(1.008);
  transform: scale(1.008);
}

.send-message-btn{
  width: 4em;
  border-radius: 0.8em;
  border: none;
  background-color: #45aaf2;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  opacity:0.8;
}

.send-message-btn:hover{
  outline: #308dcf;
  background-color: #308dcf;
  color: white;
  opacity:1;
  transition-timing-function: ease-in-out;
  transition: background-color 1.2s;
}

.input-container{
  width: 100%;
  margin-right: 1.8em;
  margin-left: 0.8em;
}

.emojis-btn{
  margin-top: 0.8em;
}


