
<tr>
  <td>
    <img
      src="https://source.unsplash.com/1600x900/?nature"
      class="image-item-table"></td>
  <td >02/01/2016</td>
  <td >01/01/2016 - 01/31/2016</td>
</tr>

<tr>
  <td>
    <img
      src="https://source.unsplash.com/1600x900/?nature"
      class="image-item-table"></td>
  <td >02/01/2016</td>
  <td >01/01/2016 - 01/31/2016</td>
</tr>

<!--
<ng-container>
  <tr>
    <td>
      <ng-template [ngIf]="avatar">
        <img
          src="{{avatar}}"
          alt="" class="image-item-table">
      </ng-template>
    </td>

    <td>{{name}}</td>

    <ng-template [ngIf]="redirectPath">
      <td><a routerLink="{{redirectPath}}/{{id}}">View</a></td>
    </ng-template>

    <ng-template [ngIf]="!redirectPath">
      <td><a routerLink="{{url}}">View</a></td>
    </ng-template>

    <ng-template [ngIf]="isOwner">
      <td (click)="deleteClicked($event, 'moj id')">Delete</td>
    </ng-template>
  </tr>

</ng-container>
-->
