<div class="wrapper">
  <div class="wrapper-item">
    <form [formGroup]="searchForm">
      <app-custom-form-input-text [type]="'search-input'"
                                  [placeholderValue]="'Search for ...'"
                                  formControlName="queryString"></app-custom-form-input-text>

      <app-custom-button (clickTrigger)="search($event)"
                         [name]="'Search'"
                         [btnType]="'search-section-btn'"></app-custom-button>
    </form>
  </div>
</div>


