.user-panel-container {
  height: 85vh;
  grid-area: sidebar;
  background-color: #dcdcdc;
  scrollbar-width: thin;
  scrollbar-color: #3d3d3d #dcdcdc;
  overflow-y: auto;
  padding: 1.2em;
  border-radius: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.user-panel-container::-webkit-scrollbar, body::-webkit-scrollbar {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: #3d3d3d #dcdcdc;
}


@media (max-width: 500px) {
  .user-panel-container{
    width: 100%;
    height: 20vh;
  }
}
