<div class="container forms">
  <div class="form login">
    <div class="form-content">
      <header>{{editRoomLabel}} {{roomData?.name || ''}}</header>
      <form action="#" [formGroup]="editRoomForm">

        <app-custom-form-input-text [type]="'text'"
                                    formControlName="name"></app-custom-form-input-text>

        <ng-template [ngIf]="editRoomForm.get('name')?.errors">
          <app-error-form-notification [formControlInput]="editRoomForm.get('name')"
                                       [inputLabel]="'Name'"></app-error-form-notification>
        </ng-template>

        <app-custom-form-input-text [type]="'select'"
                                    formControlName="is_private"
                                    [optionItems]="isPrivateOptions"></app-custom-form-input-text>

        <app-custom-form-input-text [type]="'text'"
                                    formControlName="bio"></app-custom-form-input-text>

        <ng-template [ngIf]="editRoomForm.get('bio')?.errors">
          <app-error-form-notification [formControlInput]="editRoomForm.get('bio')"
                                       [inputLabel]="'Bio'"></app-error-form-notification>
        </ng-template>
      </form>

      <div class="line"></div>

      <div class="media-options">

        <ng-template [ngIf]="editRoomForm.valid">
          <app-custom-button (clickTrigger)="editRoom($event)"
                             [name]="editRoomLabel"
                             [btnType]="'form-btn-create'"></app-custom-button>
        </ng-template>

        <ng-template [ngIf]="!editRoomForm.valid">
          <app-custom-button (clickTrigger)="invalid($event)"
                             [name]="editRoomLabel"
                             [btnType]="'disabled-btn'"></app-custom-button>
        </ng-template>

      </div>
    </div>
  </div>
</div>
